.book{
    margin: 70px 200px 0px 200px;
}

.book-right {
    margin: 0px 20px 0px 20px; //上右下左
    width: 500px;
    height: 380px;
}

.img {
    margin: 0px 20px 0px 0px;
    border: 2px solid #ccc;
    padding: 10px 10px 10px 10px;
    float: left;
    //width: 310px;
    height: auto;
}

.img:hover {
    border: 1px solid #777;
}


.books div.desc {
    padding: 15px;
    text-align: center;
}


.price{
    color: #FF0000;
    font-size: large;
}

.myfont {
    font-size: large;
}

.myMargin {
    margin: 10px 0px 10px 0px;
}
.addToCart {
    margin: 10px 0px 0px 0px;

}

.box {
    margin: 70px 200px 0px 450px;
    width: 800px;overflow: hidden;
}

.box p{margin: 0;}
.box h2{margin: 0;font-size:100%;}
.box ul{margin: 0;padding: 0;list-style: none;}
.box input{margin: 0;width: 0;}
.box a{text-decoration: none;color:inherit;}
.navI{float: left;width: 50%;box-sizing: border-box;}
.navI-tit{display:block;line-height: 40px;text-align: center;cursor: pointer;border-left: 1px solid #cecece;border-bottom: 1px solid #cecece;}
.navI-txt{position:relative;width: 800px;height:800px;text-indent:2em;line-height: 2;background:#fff;}
.ml1{margin-left: -100%;}
.ml2{margin-left: -200%;}
/*重点代码*/
.navI-radio{display:none;}
.navI-radio:checked + .navI-tit{background:#fff;border-bottom:none;}
.navI-radio:checked ~ .navI-txt{z-index:1;}

.introduce {
    width: 50%;
    float: left;
}

