.book{
    margin: 70px 200px 0px 200px;
}

.book-right {
    margin: 0px 20px 0px 20px; //上右下左
    width: 500px;
    height: 380px;
}

.img {
    margin: 0px 20px 0px 20px;
    border: 2px solid #ccc;
    padding: 10px 10px 10px 10px;
    float: left;
    //width: 310px;
    height: auto;
}

.img:hover {
    border: 1px solid #777;
}

.commentImg {
    margin: 0px 20px 0px 20px;
    border: 2px solid #ccc;
    padding: 10px 10px 10px 10px;
    float: left;
//width: 310px;
    height: auto;
}

.books div.desc {
    padding: 15px;
    text-align: center;
}


.price{
    color: #FF0000;
    font-size: large;
}

.myfont {
    font-size: large;
}

.myMargin {
    margin: 10px 0px 10px 0px;
}
.addToCart {
    margin: 10px 0px 0px 0px;

}

.box {
    margin: 70px 200px 0px 450px;
    width: 800px;;
}

.box-comment {
    margin: 10px 0px;
    padding: 10px 10px;
    border: 1px solid #ddd;
    width: 800px;
}

.box-header {
    width: 800px;
    padding: 10px 10px;
}

.box-text {
    width: 800px;
    padding: 10px 10px;
}
.user2 {
    width: 33%;
    float: left;
}
.star2 {
    width: 33%;
    float: left;
}
.time2 {
    width: auto;
}

.image2 {
    width: 100px;
    height: 100px;
}
.introduce {
    width: 50%;
    float: left;
}
.introduce2 {
    margin: 20px 20px;
}

