
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bookDetails.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/layer.js"></script>
<script src="js/bookDetails.js"></script>
<body>

<div>

    <div th:replace="~{common/header::body}"></div>


    <div class="book">

        <!-- 导航栏 -->
        <div class="mybar" >
            <ul>
                <li><a th:href="@{/listAll}" class="active" th:align="center">全部书籍</a> </li>
                <li  th:each="category:${categoryList}">
                    <a th:href="@{/listBooks(categoryName=${category.category_name})}"  th:text="${category.category_name}" th:align="center" name="categoryName" id="categoryName"></a>
                </li>
            </ul>
        </div>

        <!-- 右侧书籍展示 -->
        <div class="img">
            <a target="_blank" href="#">
                <img th:src="@{${book.book_url}}" alt="图片文本描述" width="300" height="300">
            </a>
        </div>


        <div class="book-right">
            <h3><b th:text="${book.book_name}"></b></h3>
            <p th:text="''+${book.book_introduce}"></p>

            <!--分割线-->
            <!--hr style="border:1px dotted #C0C0C0" /-->

            <div class="myMargin">
                定价：
                <span  style="text-decoration:line-through;" th:text="'￥'+${book.book_price}"></span>
            </div>
            <div class="myMargin">
                现价：
                <span class="price" th:text="'￥'+${#numbers.formatDecimal(book.book_price*book.book_discount*0.1, 0, 2)}+'（'+${book.book_discount}+'折）'"></span>
            </div>


                <h5 class="myMargin" th:text="'作者：'+${book.book_author}"></h5>
                <div class="myMargin">
                    分类：
                    <a th:href="@{/listBooks(categoryName=${book.book_category})}"  th:text="${book.book_category}" th:align="center" name="category" id="category"></a>
                </div>

                <div class="myMargin">
                    数量：
                    <input id="min" name="" type="button" value="-" class="btn btn-xs btn-default" />
                    <input id="book_amount" name="book_amount" type="text" value="1" style="width:30px;text-align: center"/>
                    <input id="add" name="" type="button" value="+" class="btn btn-xs btn-default" />
                    <input id="book_id" name="book_id" th:value="${book.book_id}" hidden="hidden">
                </div>

                <h5 class="myMargin" th:text="'库存：'+${book.book_amount}"></h5>
                <input type="hidden" id="storage"  th:value="${book.book_amount}">

                <button  class="btn btn-warning addToCart"
                        onclick="addToCart()"> 加入购物车
                </button>
        </div>

    </div>
    <!-- end for book -->

    <div class="box">
        <ul class="nav nav-tabs list-group-diy" role="tablist" style="margin-bottom: 20px;">
            <li style="text-align: center;width:50%;" role="presentation" class="active list-group-item-diy"><a style="color: #000;" onclick="showNavI()" aria-controls="unHandle" role="tab" data-toggle="tab">商品详情</span></a></li>
            <li style="text-align: center;width:50%;" class="list-group-item-diy"><a style="color: #000;" onclick="showNavII()" aria-controls="transport" role="tab" data-toggle="tab">商品评价&nbsp<span class="badge"  th:text="${comments.size()}"></span></a></li>
        </ul>
        <div id="navI" style="display: inline;">
            <ul class="introduce">
                <li th:text="'作&nbsp者：'+${book.book_author}"></li>
                <li th:text="'出版社：'+${book.book_publisher}"></li>
            </ul>
            <ul class="introduce">
                <li th:text="'出版时间：'+${book.book_publishDate}"></li>
                <li th:text="'ISBN：'+${book.book_ISBN}"></li>
            </ul>
            <!--分割线-->
            <br>
            <hr />
            <div class="introduce2">
                <h4><b>目录：</b></h4>
                <p th:text="${book.book_content}"></p>
            </div>

        </div>
        <div id="navII" style="display: none" >
            <div th:each="comment : ${comments}">
                <div class="box-comment">
                    <div class="box-header">
                        <div class="user2" th:text="'用户：'+${comment.user.user_id}"></div>
                        <div class="star2">
                            <span>评分：</span>
                            <img th:if="${comment.comment_star} ge 1" th:name="'star'+${book.book_id}" src="img/star2.png" >
                            <img th:if="${comment.comment_star} lt 1" th:name="'star'+${book.book_id}" src="img/starCopy2.png" >
                            <img th:if="${comment.comment_star} ge 2" th:name="'star'+${book.book_id}" src="img/star2.png" >
                            <img th:if="${comment.comment_star} lt 2" th:name="'star'+${book.book_id}" src="img/starCopy2.png" >
                            <img th:if="${comment.comment_star} ge 3" th:name="'star'+${book.book_id}" src="img/star2.png" >
                            <img th:if="${comment.comment_star} lt 3" th:name="'star'+${book.book_id}" src="img/starCopy2.png" >
                            <img th:if="${comment.comment_star} ge 4" th:name="'star'+${book.book_id}" src="img/star2.png" >
                            <img th:if="${comment.comment_star} lt 4" th:name="'star'+${book.book_id}" src="img/starCopy2.png" >
                            <img th:if="${comment.comment_star} ge 5" th:name="'star'+${book.book_id}" src="img/star2.png" >
                            <img th:if="${comment.comment_star} lt 5" th:name="'star'+${book.book_id}" src="img/starCopy2.png" >
                        </div>
                        <div class="time2" th:text="'发表时间：'+${comment.comment_time}"></div>
                    </div>
                    <hr>
                    <div class="box-text" th:text="${comment.comment_text}"></div>
                    <div class="box-text">
                        <img th:if="${comment.comment_image.length()} gt 0" class="image2"th:src="${comment.comment_image}" >
                    </div>

                </div>

            </div>
        </div>

</div>

</div>
</body>
<script>

var navI = document.getElementById("navI");
var navII = document.getElementById("navII");
function showNavI() {
    navI.style.display = "inline";
    navII.style.display = "none";
}
function showNavII() {
    navII.style.display = "inline";
    navI.style.display = "none";
}

function addToCart() {
    var book_amount = $("#book_amount").val();
    var book_id = $("#book_id").val();
    var data = "book_id="+book_id+"&book_amount="+book_amount;
    var addResult = "";
    $.ajax({
        type: "POST",
        url: "[[@{/addToCart}]]",
        data: data,
        dataType: "json",
        async: false,
        success: function(result) {
            if(result == true) {
                addResult = "true";
            }
        }
    });
    if(addResult == "true") {
        layer.confirm('前往购物车？', {icon: 1, title:'添加成功',btn:['前往购物车','继续浏览']},
            function(){
                window.location.href = "/cart";
            },
            function(index){
                layer.close(index);}
        );
    }
}

</script>
</html>

