
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/listBooks.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/cart.css">

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap3.3.7/bootstrap.min.js"></script>

<body>
<div>

    <div th:replace="~{common/header::body}"></div>

    <div class="layout">
        <div class="progress1">
        </div>

        <div class="table-list" th:if="${carts} ne null">
            <div class="table1">
                <div class="myCheckbox">
                </div>
                <div class="product1">书籍</div>
                <div class="price1">单价</div>
                <div class="quantity1">数量</div>
                <div class="price2">金额</div>
                <div class="operation1">修改</div>
            </div>

            <div class="shop proms">
                <input class="group-check" id="selectAll" type="checkbox" checked name="groupCheck">
                <b class="bLeft">全选</b>
            </div>
            <div class="trow" th:each="cart:${carts}">
                <div class="myCheckbox">
                    <input name="item"  type="checkbox"  class="select" checked="checked">
                </div>

                <div class="product1">

                    <a th:href="@{/bookDetails(book_id=${cart.book.book_id})}">
                        <img class="cartImg" th:src="${cart.book.book_url}" >
                    </a>
                    <a th:href="@{/bookDetails(book_id=${cart.book.book_id})}" th:text="${cart.book.book_name}">
                    </a>
                </div>
                <div class="price1" th:id="price1+${cart.book.book_id}" th:text="'￥'+${#numbers.formatDecimal(cart.book.book_price*cart.book.book_discount*0.1, 0, 2)}">
                </div>
                <input th:id="hidden_price1+${cart.book.book_id}" hidden="hidden" th:value="${#numbers.formatDecimal(cart.book.book_price*cart.book.book_discount*0.1, 0, 2)}">
                <div class="quantity1">
                    <input th:id="min+${cart.book.book_id}" th:onclick="'min1('+${cart.book.book_id}+')'" type="button" value="-" class="btn btn-xs btn-default" />
                    <input th:id="book_amount+${cart.book.book_id}" type="text" value="1" th:value="${cart.book_amount}" th:onkeyup="'getPrice2('+${cart.book.book_id}+')'" style="height: 20px;width:30px;text-align: center"/>
                    <input th:id="add+${cart.book.book_id}" th:onclick="'add1('+${cart.book.book_id}+')'" type="button" value="+" class="btn btn-xs btn-default" />
                    <input type="hidden" th:id="storage+${cart.book.book_id}" th:value="${cart.book.book_amount}">
                </div>
                <div class="price2" name="price2" th:id="price2+${cart.book.book_id}" th:text="'￥'+${#numbers.formatDecimal(cart.book.book_price*cart.book.book_discount*cart.book_amount*0.1, 0, 2)}">
                </div>
                <input th:id="hidden_price2+${cart.book.book_id}" hidden="hidden" th:value="${#numbers.formatDecimal(cart.book.book_price*cart.book.book_discount*cart.book_amount*0.1, 0, 2)}">
                <div class="operation1">
                    <a th:onclick="'deleteProduct(\''+${cart.book.book_id}+'\')'" th:text="'删除'"></a>
                </div>
            </div>
            <div class="count">
                <div class="balance">
                    <label>总计</label>
                    <p id="totalPrice" th:value="${totalPrice}"></p>
                </div>
            </div>


        </div>

        <div th:if="${carts} eq null" class="jumbotron" style="margin-bottom:0">
            <h1>您的购物车为空</h1>
            <p>快去添加心爱的书籍到购物车吧！</p>
        </div>

        <div class="button-wrap">
            <a class="continue" href="javascript:history.back(-1)">
                <b></b>
            </a>
            <a class="balance2" th:href="@{/confirmOrder}">
                <b></b>
            </a>
        </div>
    </div>


</div>
</body>
<script>
    $(document).ready(function(){
        sum();
    });
    function sum(){
        var totalPrice = 0.0;
    }
    $("#selectAll").click(function(){
        if($(this).prop("checked")) {
            $("input[name=item]:checkbox").each(function () {
                $(this).prop("checked", true);
            });
        } else {
            $("input[name=item]:checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    })
    function updateCart(book_id, book_amount) {
        $.ajax({
            url: '/updateCart?'+"book_id="+book_id+"&book_amount="+book_amount,
            async: false, //同步，会阻塞操作
            complete: function(msg) {
                console.log('完成了');
            },
            success: function(result){
                if(result != true) {
                    alert("更新失败！")
                }
            }, error: function() {
                alert("更新失败！")
            }
        })
    }
    function getPrice2(id) {
        var book_amount = document.getElementById("book_amount"+id).value;
        var price1 = $("#hidden_price1"+id).val();
        var price2 = document.getElementById("price2"+id);
        updateCart(id, book_amount);
        price2.innerText = "￥"+(parseFloat(price1) * parseFloat(book_amount)).toFixed(2);
        sum();
    };
    function min1(id) {
        //获得文本框对象
        var book_amount = $("#book_amount"+id);
        var price1 = $("#hidden_price1"+id).val();
        var price2 = document.getElementById("price2"+id);
        //数量减少操作
        if (parseInt(book_amount.val()) > 1){
            book_amount.val(Math.abs(parseInt(book_amount.val()))-1);
            updateCart(id, book_amount.val());
            price2.innerText = "￥"+(parseFloat(price1) * parseFloat(book_amount.val())).toFixed(2);
            sum();
        }
    };
    function add1(id) {
        //获得文本框对象
        var book_amount = $("#book_amount"+id);
        var max_t = $("#storage"+id).val();
        var price1 = $("#hidden_price1"+id).val();
        var price2 = document.getElementById("price2"+id);
        //数量增加操作
        if(parseInt(book_amount.val()) < max_t) {
            book_amount.val(Math.abs(parseInt(book_amount.val()))+1);
            updateCart(id, book_amount.val());
            price2.innerText = "￥"+(parseFloat(price1) * parseFloat(book_amount.val())).toFixed(2);
            sum();
        }
    };

    function deleteProduct(book_id) {
        var msg = "确认删除？";
        if(confirm(msg) == true) {
            $.ajax({
                url: '/deleteFromCart?book_id='+book_id,
                async: false, //同步，会阻塞操作
                success: function(result){
                    if(result) {
                        alert("删除成功！")
                    } else {
                        alert("删除失败！")
                    }
                }, error: function() {
                    alert("删除失败！")
                }
            })
        }
        window.location.reload();
    };

</script>
</html>

