
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/listBooks.css">

<body>
<div>

    <div th:replace="~{common/header::body}"></div>

    <!-- 搜索框 -->
    <div class="search">
        <form class="bs-example bs-example-form" role="form">
            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group">
                        <form id="searchForm">
                            <div class="input-group-btn">
                                <div class="form-group">
                                    <select class="form-control" style="width:90px;float:left;" id="source" name="source">
                                        <option value="0" selected="selected">书名</option>
                                        <option value="1">作者</option>
                                        <option value="2">出版社</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" name="keyword" id="keyword"  style="width:450px;" class="form-control">
                            <!-- -->
                            <span class="input-group-btn">
                                <button class="btn btn-default" style="float: left;" type="button" id="searchSubmit">
                                    Go!
                                </button>
					        </span>

                        </form>

                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </form>
    </div>
    <!-- 搜索框-end -->

    <div class="layout">
        <!-- 导航栏 -->
        <div class="mybar" style="margin-right: 20px;width: 200px; height: 100%;">
                <ul>
                    <li><a th:href="@{/listAll}" class="active" th:align="center">全部书籍</a> </li>
                    <li  th:each="category:${categoryList}">
                        <a th:href="@{/listBooks(categoryName=${category.category_name})}" target="test" name="categoryName" th:text="${category.category_name}" th:align="center"></a>
                    </li>
                </ul>
        </div>

        <!-- 右侧轮播图 -->
        <div class="col-md-6" style="width: 650px; height: 650px">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/ad/ad1.jpg" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/ad/ad2.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="img/ad/ad3.jpg" alt="...">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>



    </div>
</div>
<script>
    var form = $('#searchForm');
    var source = $("#source").val();
    $("#searchSubmit").click(function() {
        //keyword放click里面，否则获取不到搜索框的值
        var keyword = document.getElementById("keyword").value;
        var data = "source="+source+"&keyword="+keyword;
        window.location.href="/search?"+data;
    })
</script>
</body>
</html>

