<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <meta charset="UTF-8">

<body>
<form action="/updateUser" method="post">
    <div>
        <label>用户名：</label>
        <input type="text" th:text="${username}">
    </div>
    <div>
        <label>原密码：</label>
        <input type="password" name="oldPassword">
    </div>
    <div>
        <label>新密码：</label>
        <input type="password" name="newPassword">
    </div>
    <div>
        <label>确认新密码：</label>
        <input type="password" name="confirmPassword">
    </div>
</form>
</body>
</html>