<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<head>
    <title>我的订单</title>
</head>

<link rel="stylesheet" href="css/confirmOrder.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/cart.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/layer.js"></script>

<body>
<div>
    <div th:replace="~{common/header::body}"></div>

    <div class="layout">
        <!-- 中间内容 -->
        <div class="row">
            <div class="col-sm-10  col-md-10 col-sm-offset-1 col-md-offset-1">
                <div class="jumbotron text-center">
                    <h1>欢迎来到订单页</h1>
                    <p>您的购买清单为</p>
                </div>
            </div>
            <div class="col-sm-10  col-md-10 col-sm-offset-1 col-md-offset-1">
                <div class="row">
                    <ul class="nav nav-tabs list-group-diy" role="tablist" style="margin-bottom: 20px;">
                        <li role="presentation" class="active list-group-item-diy"><a onclick="unfilled()" aria-controls="unHandle" role="tab" data-toggle="tab">待发货订单&nbsp;<span class="badge" id="unHandleCount" th:text="${unfilledOrders.size()}"></span></a></li>
                        <li role="presentation" class="list-group-item-diy"><a onclick="pending()" aria-controls="transport" role="tab" data-toggle="tab">待收货订单&nbsp;<span class="badge" id="transportCount" th:text="${pendingOrders.size()}"></span></a></li>
                        <li role="presentation" class="list-group-item-diy"><a onclick="received()" aria-controls="receive" role="tab" data-toggle="tab">待评价订单&nbsp;<span class="badge" id="receiveCount" th:text="${receivedOrders.size()}"></span></a></li>
                        <li role="presentation" class="list-group-item-diy"><a onclick="allOrders()" aria-controls="all" role="tab" data-toggle="tab">全部订单&nbsp;<span class="badge" id="allCount" th:text="${allOrders.size()}"></span></a></li>
                    </ul>


                    <!-- 待发货 -->
                    <div id="unfilledOrders">
                        <div th:if="${unfilledOrders.size()} ne 0" th:each="orders : ${unfilledOrders}">
                            <a th:href="@{/orders_details(orders_id=${orders.orders_id})}">
                            <div class="table-list" >
                                <div class="table1">
                                    <div class="id1" th:text="'订单号：'+${orders.orders_id}"></div>
                                    <div class="product2">书籍</div>
                                    <div class="price1">单价</div>
                                    <div class="quantity1">数量</div>
                                    <div class="operation1">金额</div>
                                </div>

                                <div class="trow" th:each="orders_details : ${orders.orders_details}">
                                    <div class="product1">
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}">
                                            <img class="cartImg" th:src="${orders_details.book.book_url}" >
                                        </a>
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}" th:text="${orders_details.book.book_name}">
                                        </a>
                                    </div>
                                    <div class="price1"  th:text="'￥'+${orders_details.book.book_realPrice}"></div>
                                    <div class="quantity1" th:text="${orders_details.book_number}"></div>
                                    <div class="price2"  th:text="'￥'+${orders_details.book_price}"></div>
                                </div>

                                <div class="table1">
                                    <div class="time1" th:text="'订单创建时间：'+${orders.orders_time}"></div>
                                    <div class="price4"></div>
                                    <div class="totalPriceText" th:text="'总计：'"></div>
                                    <div class="totalPriceText" th:text="'￥'+${orders.orders_money}"></div>
                                    <div class="totalPrice" th:text="'待发货'">
                                    </div>
                                </div>

                            </div>
                            </a>
                        </div>

                        <div th:if="${unfilledOrders.size()} eq 0" >
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2>没有相关订单</h2>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- 待收货 -->
                    <div id="pendingOrders" style="display: none;">
                        <div th:if="${pendingOrders.size()} ne 0" th:each="orders : ${pendingOrders}">
                            <a th:href="@{/orders_details(orders_id=${orders.orders_id})}">
                            <div class="table-list" >
                                <div class="table1">
                                    <div class="id1" th:text="'订单号：'+${orders.orders_id}"></div>
                                    <div class="product2">书籍</div>
                                    <div class="price1">单价</div>
                                    <div class="quantity1">数量</div>
                                    <div class="operation1">金额</div>
                                </div>

                                <div class="trow" th:each="orders_details : ${orders.orders_details}">
                                    <div class="product1">
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}">
                                            <img class="cartImg" th:src="${orders_details.book.book_url}" >
                                        </a>
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}" th:text="${orders_details.book.book_name}">
                                        </a>
                                    </div>
                                    <div class="price1"  th:text="'￥'+${orders_details.book.book_realPrice}"></div>
                                    <div class="quantity1" th:text="${orders_details.book_number}"></div>
                                    <div class="price2"  th:text="'￥'+${orders_details.book_price}"></div>
                                </div>

                                <div class="table1">
                                    <div class="time1" th:text="'订单创建时间：'+${orders.orders_time}"></div>
                                    <div class="price4"></div>
                                    <div class="totalPriceText" th:text="'总计：'"></div>
                                    <div class="totalPriceText" th:text="'￥'+${orders.orders_money}"></div>
                                    <div class="totalPrice">
                                        <a th:onclick="'confirmReceive('+${orders.orders_id}+')'">确认收货</a>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <div th:if="${pendingOrders.size()} eq 0" >
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2>没有相关订单</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 待评价 -->
                    <div id="receivedOrders" style="display: none;">
                        <div th:if="${receivedOrders.size()} ne 0" th:each="orders : ${receivedOrders}">
                            <a th:href="@{/orders_details(orders_id=${orders.orders_id})}">
                            <div class="table-list" >
                                <div class="table1">
                                    <div class="id1" th:text="'订单号：'+${orders.orders_id}"></div>
                                    <div class="product2">书籍</div>
                                    <div class="price1">单价</div>
                                    <div class="quantity1">数量</div>
                                    <div class="operation1">金额</div>
                                </div>

                                <div class="trow" th:each="orders_details : ${orders.orders_details}">
                                    <div class="product1">
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}">
                                            <img class="cartImg" th:src="${orders_details.book.book_url}" >
                                        </a>
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}" th:text="${orders_details.book.book_name}">
                                        </a>
                                    </div>
                                    <div class="price1"  th:text="'￥'+${orders_details.book.book_realPrice}"></div>
                                    <div class="quantity1" th:text="${orders_details.book_number}"></div>
                                    <div class="price2"  th:text="'￥'+${orders_details.book_price}"></div>
                                </div>

                                <div class="table1">
                                    <div class="time1" th:text="'订单创建时间：'+${orders.orders_time}"></div>
                                    <div class="price4"></div>
                                    <div class="totalPriceText" th:text="'总计：'"></div>
                                    <div class="totalPriceText" th:text="'￥'+${orders.orders_money}"></div>
                                    <div class="totalPrice">
                                        <a th:href="@{/comment(orders_id=${orders.orders_id})}">去评价</a>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <div th:if="${receivedOrders.size()} eq 0" >
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2>没有相关订单</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 所有订单 -->
                    <div id="allOrders" style="display: none;">
                        <div th:if="${allOrders.size()} ne 0" th:each="orders : ${allOrders}">
                            <a th:href="@{/orders_details(orders_id=${orders.orders_id})}">
                            <div class="table-list" >
                                <div class="table1">
                                    <div class="id1" th:text="'订单号：'+${orders.orders_id}"></div>
                                    <div class="product2">书籍</div>
                                    <div class="price1">单价</div>
                                    <div class="quantity1">数量</div>
                                    <div class="operation1">金额</div>
                                </div>

                                <div class="trow" th:each="orders_details : ${orders.orders_details}">
                                    <div class="product1">
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}">
                                            <img class="cartImg" th:src="${orders_details.book.book_url}" >
                                        </a>
                                        <a th:href="@{/bookDetails(book_id=${orders_details.book.book_id})}" th:text="${orders_details.book.book_name}">
                                        </a>
                                    </div>
                                    <div class="price1"  th:text="'￥'+${orders_details.book.book_realPrice}"></div>
                                    <div class="quantity1" th:text="${orders_details.book_number}"></div>
                                    <div class="price2"  th:text="'￥'+${orders_details.book_price}"></div>
                                </div>

                                <div class="table1">
                                    <div class="time1" th:text="'订单创建时间：'+${orders.orders_time}"></div>
                                    <div class="price4"></div>
                                    <div class="totalPriceText" th:text="'总计：'"></div>
                                    <div class="totalPriceText" th:text="'￥'+${orders.orders_money}"></div>
                                    <div class="totalPrice">
                                        <a th:if="${orders.orders_status eq 1}">待发货</a>
                                        <a th:onclick="'confirmReceive('+${orders.orders_id}+')'" th:if="${orders.orders_status eq 2}">确认收货</a>
                                        <a th:href="@{/comment(orders_id=${orders.orders_id})}" th:if="${orders.orders_status eq 3}">去评价</a>
                                        <a th:if="${orders.orders_status eq 4}">已评价</a>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <div th:if="${allOrders.size()} eq 0" >
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2>没有相关订单</h2>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    function selectOne(one) {
        var unfilledOrders = document.getElementById("unfilledOrders");
        var pendingOrders = document.getElementById("pendingOrders");
        var receivedOrders = document.getElementById("receivedOrders");
        var allOrders = document.getElementById("allOrders");
        var displayOne = document.getElementById(one);
        unfilledOrders.style.display = "none";
        pendingOrders.style.display = "none";
        receivedOrders.style.display = "none";
        allOrders.style.display = "none";
        displayOne.style.display = "inline";
    }
    function unfilled() {
        selectOne("unfilledOrders");
    }
    function pending() {
        selectOne("pendingOrders");
    }
    function received() {
        selectOne("receivedOrders");
    }
    function allOrders() {
        selectOne("allOrders");
    }
    function confirmReceive(id) {
        layer.confirm('确认收货？', {icon: 1, title:'确认收货',btn:['确认','取消']},
            function(){
                $.ajax({
                    url: "/confirmReceived",
                    data: {orders_id: id},
                    success: function(result){
                    }
                });
                layer.msg('收货成功', {
                    icon: 1,
                    time: 1000
                });
                window.location.href = "/order";
            },
            function(index){
                layer.close(index);}
        );
    }
</script>
</html>

